<h1 class="header">Marvellous Calculator</h1>

<div class="mainbox mat-elevation-z4">
  <h2 style="border-bottom: 1px solid #ccc;">Select Any Arithmetic Operation You Want</h2>
  <br>

  <!-- Radio Buttons for Operations -->
  <div class="operation-select">
    <mat-radio-group [(ngModel)]="selectedOperation">
      <mat-radio-button value="add">Add</mat-radio-button>
      <mat-radio-button value="sub">Subtract</mat-radio-button>
      <mat-radio-button value="mul">Multiply</mat-radio-button>
      <mat-radio-button value="div">Divide</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Common Section for Input -->
  <div class="operation-section">
    <h3>Enter Two Numbers</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Number 1</mat-label>
      <input matInput #No1 />
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Number 2</mat-label>
      <input matInput #No2 />
    </mat-form-field>

    <!-- Calculate Button -->
    <button mat-raised-button color="primary" (click)="calculate(No1.value, No2.value)">Calculate</button>

    <h3>Result : {{ result }}</h3>
  </div>
</div>
